/* .logo */
.logo {
  margin: 0;
  color: var(--color-no7);
}

.logo .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  gap: 5px;
}

.logo p {
  text-shadow: var(--text-shadow-light);
  text-align: center;
}