/* nav */
.nav-main {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 100%;
  width: 100%;
  z-index: 1;
}

.nav-main .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.hamburger-menu {
  padding: var(--padding-hamburger-menu-icon);
}

.bars {
  display: block;
  width: 50px;
  height: 5px;
  margin: 5px 0;
  background-color: var(--color-no7);
  border-radius: 50px;
  transition: var(--transition-medium);
}

.nav-main_list {
  width: 100%;
  position: absolute;
  opacity: 0;
  background-color: var(--color-no9);
  top: -200vh;
  left: 0;
  transition: var(--transition-medium);
}

.show {
  top: 80px;
  opacity: 1;
}

.hamburger-on {
  padding: var(--padding-hamburger-menu-icon);
  border-radius: var(--middle-radius);
  box-shadow: var(--box-shadow-light-white);
}

/* bars transition */
.bar-one {
  transform: translateY(10px) rotate(45deg);
}

.bar-three {
  transform: translateY(-10px) rotate(-45deg);
}

.bar-two {
  display: translate(100px);
  opacity: 0;
}

.nav-main_list a {
  display: block;
  color: var(--color-no7);
  font-size: calc(var(--normal-font-size) + 4vw);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.nav-main_list a.active {
  background-color: var(--color-no5);
  color: var(--color-no3);
  border-top: 1px solid;
  border-bottom: 1px solid;
}