<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Mariusz Rozycki, Front-End Developer, Portfolio Website, Norway, Poland, Europe, Scandinavia, Experienced, Project Rainy Days">
  <link rel="stylesheet" href="../style/style.css">
  <title>Portfolio Website - Mariusz Rozycki || Rainy Days</title>
</head>

<body>
  <header class="logo">
    <div class="container">
      <a href="../index.html">
        <p>Portfolio</p>
      </a>
      <a href="../index.html">
        <p>Front-End Developer <span>Mariusz Rozycki</span></p>
      </a>
    </div>
  </header>
  <nav class="nav-main">
    <div class="container">
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main_list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../layout/cv.html">Curriculum Vitae</a></li>
        <li><a href="project_1.html">Project - Trip Blog</a></li>
        <li><a href="project_2.html">Project - Museum</a></li>
        <li><a href="project_3.html">Project - Rainy Days</a></li>
        <li><a class="active" href="">Contact me</a></li>
      </ul>
    </div>
  </nav>
  <div class="container form-container">
    <h1>Contact me!</h1>
    <div id="message"></div>
    <form id="form">
      <label for="name">Name (minimum 6 characters):
        <input id="name" name="name">
      </label>
      <p class="form-error" id="name-error">Field must have minimum 6 characters!</p>

      <label for="subject">Subject (minimum 16 characters):
        <input id="subject" name="Subject">
      </label>
      <p class="form-error" id="subject-error">Field must have minimum 16 characters!</p>

      <label for="email">Email:
        <input id="email" name="email">
      </label>
      <p class="form-error" id="email-error">Write correct e-mail address</p>

      <label for="user-message">Message (minimum 26 characters):
        <textarea id="user-message" name="user-message"></textarea>
      </label>
      <p class="form-error" id="user-message--error">Field must have minimum 26 characters!</p>

      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
  <footer class="footer">
    <div class="container">
      <ul class="nav-footer">
        <li><a href="tel:+4793928270">Mariusz Rozycki</a></li>
        <li><a href="mailto:marius.front@gmail.com">e-mail: marius.front@gmail.com</a></li>
        <li><a href="tel:+4793928270">phone: +47 939 28 270</a></li>
      </ul>
    </div>
  </footer>
  <div class="modal"></div>

  <script src="../js/index.js"></script>
  <script src="../js/contact.js"></script>
</body>

</html>