<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Mariusz Rozycki, Front-End Developer, Portfolio Website, Norway, Poland, Europe, Scandinavia, Experienced, Project Rainy Days">
  <link rel="stylesheet" href="../style/style.css">
  <title>Portfolio Website - Mariusz Rozycki || Rainy Days</title>
</head>

<body>
  <header class="logo">
    <div class="container">
      <a href="../index.html">
        <p>Portfolio</p>
      </a>
      <a href="../index.html">
        <p>Front-End Developer <span>Mariusz Rozycki</span></p>
      </a>
    </div>
  </header>
  <nav class="nav-main">
    <div class="container">
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main_list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="project_1.html">Project - Trip Blog</a></li>
        <li><a href="project_2.html">Project - Museum</a></li>
        <li><a href="project_3.html">Project - Rainy Days</a></li>
        <li><a class="active" href="contact.html">Contact me</a></li>
      </ul>
    </div>
  </nav>
  <section class="section-form">
    <div class="container form-container">
      <h1>Contact me!</h1>
      <form id="form" action="https://mariuszrozycki.info/portfolio/wp-json/contact-form-7/v1/contact-forms/5/feedback"
        method="post">
        <label for="user-name">Your name (min. 2 characters!)
          <input id="user-name" type="text" name="user-name">
        </label>
        <p class="form-error" id="name-error">Field must have minimum 2 characters!</p>

        <label for="your-email">Your email
          <input id="your-email" type="email" name="your-email">
        </label>
        <p class="form-error" id="email-error">Write correct e-mail address</p>

        <label for="your-subject">Subject (min. 2 characters!)
          <input id="your-subject" type="text" name="your-subject">
        </label>
        <p class="form-error" id="subject-error">Field must have minimum 2 characters!</p>

        <label for="your-message">Your message (min. 2 characters!)
          <textarea id="your-message" type="textarea" name="your-message"></textarea>
        </label>
        <p class="form-error" id="user-message--error">Field must have minimum 2 characters!</p>
        <div id="message"></div>
        <button class="btn" type="submit">Submit</button>
      </form>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <ul class="nav-footer">
        <li>
          <a href="tel:+4793928270" target="_blank">
            <i class="f-awesome fas fa-user-circle"></i>
            <p>Mariusz Rozycki</p>
          </a>
        </li>
        <li><a href="https://github.com/MariuszRozycki" target="_blank">
            <i class="f-awesome fab fa-github"></i>
            <p>GitHub Profile</p>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/mariusz-rozycki" target="_blank">
            <i class="f-awesome fab fa-linkedin-in"></i>
            <p>Linkedin Profile</p>
          </a>
        </li>
        <li>
          <a href="mailto:marius.front@gmail.com" target="_blank">
            <i class="f-awesome far fa-envelope"></i>
            <p>marius.front@gmail.com</p>
          </a>
        </li>
        <li>
          <a href="tel:+4793928270" target="_blank">
            <i class="f-awesome fas fa-mobile-alt"></i>
            <p>phone: +47 939 28 270</p>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <div class="modal"></div>

  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <script src="../js/index.js"></script>
  <script src="../js/contact.js"></script>

</body>

</html>