<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Mariusz Rozycki, Front-End Developer, Portfolio Website, Norway, Poland, Europe, Scandinavia, Experienced, Curriculum Vitae">
  <link rel="stylesheet" href="../style/style.css">
  <title>Portfolio Website - Mariusz Rozycki || CV</title>
</head>

<body>
  <header class="logo">
    <div class="container">
      <a href="../index.html">
        <p>Portfolio</p>
      </a>
      <a href="../index.html">
        <p>Front-End Developer <span>Mariusz Rozycki</span></p>
      </a>
    </div>
  </header>
  <nav class="nav-main">
    <div class="container">
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main_list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="project_1.html">Project - Trip Blog</a></li>
        <li><a href="project_2.html">Project - Museum</a></li>
        <li><a href="project_3.html">Project - Rainy Days</a></li>
        <li><a href="contact.html">Contact me</a></li>
      </ul>
    </div>
  </nav>
  <section class="about-me">
    <div class="container">
      <h1>Mariusz Rozycki<span>Curriculum Vitae</span></h1>
      <div class="about-me_wrapper">
        <div class="img-wrapper">
          <img src="../images/mariusCv.png" alt="Picture of Mariusz Rozycki">
        </div>
        <p class="description">I'm Mariusz Rozycki. As a front-end developer, I specialize in React.js, creating
          scalable and modular front-end architectures. I focus on creating very well looking websites, writing clear
          and understandable code. I still improve myself by deep studying of front-end development.</p>
      </div>
    </div>
  </section>
  <main>
    <section class="my-projects">
      <div class="container">
        <h2>Page under construction</h2>
        <div class="loader"></div>
        <button class="btn btn-home" onclick="location.href='../index.html'">&lt;&lt; Home &gt;&gt;</button>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <ul class="nav-footer">
        <li>
          <a href="tel:+4793928270" target="_blank">
            <i class="f-awesome fas fa-user-circle"></i>
            <p>Mariusz Rozycki</p>
          </a>
        </li>
        <li><a href="https://github.com/MariuszRozycki" target="_blank">
            <i class="f-awesome fab fa-github"></i>
            <p>GitHub Profile</p>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/mariusz-rozycki" target="_blank">
            <i class="f-awesome fab fa-linkedin-in"></i>
            <p>Linkedin Profile</p>
          </a>
        </li>
        <li>
          <a href="mailto:marius.front@gmail.com" target="_blank">
            <i class="f-awesome far fa-envelope"></i>
            <p>marius.front@gmail.com</p>
          </a>
        </li>
        <li>
          <a href="tel:+4793928270" target="_blank">
            <i class="f-awesome fas fa-mobile-alt"></i>
            <p>phone: +47 939 28 270</p>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <div class="modal"></div>

  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <script src="../js/index.js"></script>
</body>

</html>