<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Mariusz Rozycki, Front-End Developer, Portfolio Website, Norway, Poland, Europe, Scandinavia, Experienced, Project Rainy Days">
  <link rel="stylesheet" href="../style/style.css">
  <title>Portfolio Website - Mariusz Rozycki || Rainy Days</title>
</head>

<body>
  <header class="logo">
    <div class="container">
      <a href="../index.html">
        <p>Portfolio</p>
      </a>
      <a href="../index.html">
        <p>Front-End Developer <span>Mariusz Rozycki</span></p>
      </a>
    </div>
  </header>
  <nav class="nav-main">
    <div class="container">
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main_list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="project_1.html">Project - Trip Blog</a></li>
        <li><a href="project_2.html">Project - Museum</a></li>
        <li><a href="project_3.html">Project - Museum</a></li>
        <li><a class="active" href="project_3.html">Project - Rainy Days</a></li>
        <li><a href="contact.html">Contact me</a></li>
      </ul>
    </div>
  </nav>
  <section class="simple-project">
    <div class="container">
      <h1>Project - <span>Rainy Days</span></h1>
      <div class="simple-project_wrapper">
        <button class="btn btn-home" onclick="location.href='../index.html'"><span>&lt;&lt;&lt;</span>Home</button>
        <h2>Description</h2>
        <div class="simple-project_img-wrapper">
          <img src="../images/rainy-days_wide_screen.jpg" alt="Rainy Days print screen">
        </div>

        <p class="description-general">
          This is as a cross-curse project.
          I started to make this project as one among first projects during my study.
          The project is developed throughout the period of study. The last changes were to create a database on
          WordPress and use this data in the project. Products are fetched from the WP REST API. Site is built by using
          HTML, CSS, Java Script. To make a site responsive I used both flexbox and grid. Front-end is written by me -
          site is Headless CMS.
        </p>

        <ul class="description-details">
          <li class="simple-project_heading">
            Requirements of project:
          </li>

          <li>- the site has been design that appeals to the target audience</li>

          <li>- Compositional principles, typography, and color schemes are considered</li>

          <li>- HTML is semantic and neatly indented</li>

          <li>- the site uses external CSS style sheets which follow the DRY principle</li>

          <li>- the site takes WCAG principles into consideration, especially regarding hierarchy, navigation, and color
            usage</li>
          <li>- the site is responsive, attractive, and easy to use on a variety of devices</li>

          <li>- the site shows consideration for content strategy and SEO (used of meta tags and alt text)</li>
        </ul>

        <ul class="description-summary">
          <li class="simple-project_heading">Summary:</li>
          <li>- website is mobile responsive and looks good on all screen sizes</li>
          <li>- the HTML is neat and semantic, the CSS is concise and styles aren't duplicated in media queries</li>
          <li>- each page has a unique title, one unique h1, and meta description</li>
          <li>- images are below 200kb and have alt text</li>
          <li>- the site looks good and there's a class in the navigation telling the user which page they're
            on</li>
          <li>- text lines are kept short</li>
          <li>- the colors have good contrast, the text is easy to read and the site is easy for user's to
            navigate</li>
        </ul>
        <a class="simple-project_github-link link" title="Link to Rainy Days GitHub"
          href="https://github.com/MariuszRozycki/rainy-days" target="_blank">
          Link to GitHub<span>&gt;&gt;&gt;</span>
        </a>
        <a class="simple-project_live-link link" title="Rainy Days Portfolio Mariusz Rozycki live site"
          href="https://zealous-colden-45315d.netlify.app" target="_blank">
          Link to Live Site<span>&gt;&gt;&gt;</span>
        </a>
        <a class="simple-project_adobeXD-link link" title="Link to Rainy Days AdobeXD prototypes"
          href="https://xd.adobe.com/view/1e4b7d4a-f267-427b-8462-aa30890e59d8-4b18" target="_blank">
          Link to Prototypes<span>&gt;&gt;&gt;</span>
        </a>
        <button class="btn btn_simple-project" onclick="window.open('https://zealous-colden-45315d.netlify.app')"
          title="Museum of Science Live Site">Live
          site</button>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <ul class="nav-footer">
        <li>
          <a href="tel:+4793928270" target="_blank">
            <i class="f-awesome fas fa-user-circle"></i>
            <p>Mariusz Rozycki</p>
          </a>
        </li>
        <li><a href="https://github.com/MariuszRozycki" target="_blank">
            <i class="f-awesome fab fa-github"></i>
            <p>GitHub Profile</p>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/mariusz-rozycki" target="_blank">
            <i class="f-awesome fab fa-linkedin-in"></i>
            <p>Linkedin Profile</p>
          </a>
        </li>
        <li>
          <a href="mailto:marius.front@gmail.com" target="_blank">
            <i class="f-awesome far fa-envelope"></i>
            <p>marius.front@gmail.com</p>
          </a>
        </li>
        <li>
          <a href="tel:+4793928270" target="_blank">
            <i class="f-awesome fas fa-mobile-alt"></i>
            <p>phone: +47 939 28 270</p>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <div class="modal"></div>

  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <script src="../js/index.js"></script>
</body>

</html>